# AMAZON.CSV

In [1]:
import pandas as pd

In [7]:
path = "../CorsoEpicode/Datasets/amazon.csv"
az = pd.read_csv(path)

1 Valutiamo la dimensione del dataset 

2 Visualizziamo dieci righe a caso;

3 Osserviamo quali sono i nomi di colonna; 

4 Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [10]:
#1 Valutiamo la dimensione del dataset 

az.shape   #.shape per valutare la dimensione del dataset

(20000, 2)

In [11]:
#2 Visualizziamo dieci righe a caso

az.sample(10)

                                              reviewText  Positive
18471  the app was funny for me but I don't think kid...         0
1632   I dont know how anyone can not like this site ...         1
13461  delicious Emily is the best game on my kindle,...         1
4649   You can play this game for hours and not get t...         1
19082  this is the worst game in the world. navery ge...         0
12523  Got it to download Candy Crush Saga to my Kind...         1
17199  I order regularly on this appl.  It is easy an...         1
9960   I bought these to help a young girl to learn  ...         1
4114   After a few mins. of play on the kindle fire, ...         1
18074  I really prank my friends and cool......best a...         1

In [13]:
#3 Osserviamo quali sono i nomi di colonna; 

az.columns

Index(['reviewText', 'Positive'], dtype='object')

In [26]:
#4 Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

az["Positive"].value_counts()  
#Il 75% delle recensioni sono positive (1)

Positive
1    15233
0     4767
Name: count, dtype: int64

# DIABETES.CSV

In [27]:
path = "../CorsoEpicode/Datasets/diabetes.csv"
db = pd.read_csv(path)

1 Osserviamone le dimensioni e un'anteprima di cinque righe; 

2 Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 

3 Stampiamo dei descrittori statistici del dataset; 

4 Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50; 

5 Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

In [32]:
#1 Osserviamone le dimensioni e un'anteprima di cinque righe;
print(db.shape)
db.head(5)

(768, 9)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [30]:
#2 Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne

db.dtypes

Number of times pregnant                                                      int64
Plasma glucose concentration a 2 hours in an oral glucose tolerance test      int64
Diastolic blood pressure (mm Hg)                                              int64
Triceps skin fold thickness (mm)                                              int64
2-Hour serum insulin (mu U/ml)                                                int64
Body mass index (weight in kg/(height in m)^2)                              float64
Diabetes pedigree function                                                  float64
Age (years)                                                                   int64
Class variable                                                                int64
dtype: object

In [34]:
#3 Stampiamo dei descrittori statistici del dataset;

db.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [38]:
#4 Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;

fil_etai = db["Age (years)"]<= 29   #per età 30-39 sostituire con 39; per 40-50 sostituire con 50 
fil_etaf = db["Age (years)"]>=20    #per età 30-39 sostituire con 30; per 40-50 sostituire con 40 
db.loc[fil_etai & fil_etaf]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

In [40]:
#5 Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

db["Diastolic blood pressure (mm Hg)"].loc[fil_etai & fil_etaf].mean()  #variabili filtri precedenti. Per cambiare il risultato del masking vedere cella precedente

65.34848484848484

# INSURANCE.CSV

1 Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 

2 Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 

3 E rispetto a smoker? E a sex? 

4 Quali sono i descrittori statistici di bmi? 

5 Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [3]:
import pandas as pd
path = "../CorsoEpicode/Datasets/insurance.csv"
insu = pd.read_csv(path)

In [45]:
#1 Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;

print(insu.shape)

print(insu)

insu.columns

(1338, 7)
      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [4]:
#2 Quali sono le medie di charges rispetto a region? Ci sono differenze significative?

print(f"La media di charges: {insu["charges"].mean()}") 

for r in insu["region"].unique():
    print(f"La media di charges rispetto a {r}: {insu["charges"].loc[insu["region"] == r].mean()}")

#insu["charges"].loc[insu["region"] == r].mean()

#Notiamo una differenze di costi di assiccurazione, non particalarmente 'eccessivi', in base alla regione.

La media di charges: 13270.422265141257
La media di charges rispetto a southwest: 12346.937377292308
La media di charges rispetto a southeast: 14735.411437609888
La media di charges rispetto a northwest: 12417.57537396923
La media di charges rispetto a northeast: 13406.384516385804

In [87]:
#3 E rispetto a smoker? E a sex?

for s in insu["smoker"].unique():
    print(f"La media di charges rispetto a smoker {s}: {insu["charges"].loc[insu["smoker"] == s].mean()}")
    


for g in insu["sex"].unique():
    print(f"La media di charges rispetto a {g}: {insu["charges"].loc[insu["sex"] == g].mean()}")

#C'è una grossa differenza di costi in base ai soggetti fumatori e non fumatori. Si nota una differenza dei costi anche in relazione al sesso del cotraente.

La media di charges rispetto a smoker yes: 32050.23183153284
La media di charges rispetto a smoker no: 8434.268297856204
La media di charges rispetto a female: 12569.578843835347
La media di charges rispetto a male: 13956.751177721893

In [89]:
#4 Quali sono i descrittori statistici di bmi?

insu["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [95]:
#5 Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
25 == insu["bmi"].quantile(0.25)
50 == insu["bmi"].quantile(0.50)
75 == insu["bmi"].quantile(0.75)
print("rispetto al 25° percentile")
print(insu["charges"].loc[25].min())
print(insu["charges"].loc[25].max())
print(insu["charges"].loc[25].mean())
print("rispetto al 50° percentile")
print(insu["charges"].loc[50].min())
print(insu["charges"].loc[50].max())
print(insu["charges"].loc[50].mean())
print("rispetto al 75° percentile")
print(insu["charges"].loc[75].min())
print(insu["charges"].loc[75].max())
print(insu["charges"].loc[75].mean())

rispetto al 25° percentile
14001.1338
14001.1338
14001.1338
rispetto al 50° percentile
2211.13075
2211.13075
2211.13075
rispetto al 75° percentile
11356.6609
11356.6609
11356.6609

In [ ]:
# 1. Creare una nuova colonna con i quartili di BMI
#insu['bmi_quartile'] = pd.qcut(insu['bmi'], q=4, labels=['Q1', 'Q2', 'Q3', 'Q4'])

# 2. Calcolare min, mean e max di 'charges' per ogni quartile di 'bmi'
#charges_stats = insu.groupby('bmi_quartile')['charges'].agg(['min', 'mean', 'max'])

#print(charges_stats)

# POKEMON.CSV

1 Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 

2 È verosimile che la prima colonna dovrebbe essere un indice? 

3 Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 

4 Se no, settare la prima colonna come indice.

5 Quali sono i Pokémon leggendari? 

6 E quali sono i leggendari di tipo 1 Grass? 

7 E leggendari di tipo 1 Ice o Fire? 

8 Trasformiamo la colonna Name nell'indice; 

9 Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

In [142]:
path = "../CorsoEpicode/Datasets/pokemon.csv"
pk = pd.read_csv(path)

In [115]:
#1 Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;

print(pk.shape)
print(pk.columns)
pk

(800, 13)
Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
#2 È verosimile che la prima colonna dovrebbe essere un indice?

#R: Presumo faccia riferimento all'ordinamento interno dei pokemon (il pokedex )

In [ ]:
#3 Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?

# R: Non corrispondono

In [143]:
#4 Se no, settare la prima colonna come indice.

pk = pd.read_csv("../CorsoEpicode/Datasets/pokemon.csv",          # percorso al file
                 index_col=0)  
pk

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [145]:
#un rapido controllo dei metadati
pk.info()
print(pk["Legendary"].unique())
print(pk["Legendary"].dtype)

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB
[False  True]
bool

In [144]:
#5 Quali sono i Pokémon leggendari?
filtro = pk["Legendary"] == True
pk["Name"].loc[filtro]

#
144               Articuno
145                 Zapdos
146                Moltres
150                 Mewtwo
150    MewtwoMega Mewtwo X
              ...
719                Diancie
719    DiancieMega Diancie
720    HoopaHoopa Confined
720     HoopaHoopa Unbound
721              Volcanion
Name: Name, Length: 65, dtype: object

In [146]:
#6 E quali sono i leggendari di tipo 1 Grass?
filtro_tipo1 = pk["Type 1"] == "Grass"
pk["Name"].loc[filtro & filtro_tipo1]

#
492    ShayminLand Forme
492     ShayminSky Forme
640             Virizion
Name: Name, dtype: object

In [151]:
#7 E leggendari di tipo 1 Ice o Fire?
filtro_tipo2 = pk["Type 1"] == "Ice"
filtro_tipo3 = pk["Type 1"] == "Fire"
pk["Name"].loc[filtro & (filtro_tipo2 | filtro_tipo3)]

#
144     Articuno
146      Moltres
244        Entei
250        Ho-oh
378       Regice
485      Heatran
721    Volcanion
Name: Name, dtype: object

In [153]:
#8 Trasformiamo la colonna Name nell'indice;

pk_idx = pk.set_index("Name")
pk_idx

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [155]:
#9 Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
atk = pk["Attack"] > 50
hp = pk["HP"] < 60

print(pk["Name"].loc[atk & hp])

#
4               Charmander
5               Charmeleon
8                Wartortle
19                 Rattata
20                Raticate
              ...
710    PumpkabooSuper Size
711    GourgeistSmall Size
712               Bergmite
719                Diancie
719    DiancieMega Diancie
Name: Name, Length: 153, dtype: object